# Ignore artifacts:
build
coverage
**/routeTree.gen.ts

# Ignore files:
.gitignore
.npmignore
.prettierrc
.eslintignore
.eslintrc
.prettierignore
.eslintrc
.prettierrc
.eslintignore
.eslintrc

package.json
bun.lock
