name:  Build Docs (static MD files)

on:
  workflow_dispatch:
    
  workflow_call:
    inputs:
      node-version:
        type: string
        description: Node Version
        required: false
        default: '20.x'

jobs:
  build-docs:
    runs-on: ubuntu-latest
    name: Build Docs
    steps:
      - name: Set Up
        run: |
          echo "Setting up..."
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT }}
          path: board
      - name: Checkout Docs Repo
        run: |
          echo "Checking out docs repo..."
      - uses: actions/checkout@v4
        with:
          repository: niuee/board-documentation
          token: ${{ secrets.PAT }}
          ref: main
          path: board-documentation
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - uses: pnpm/action-setup@v3
        with:
          version: 10
      - name: Auto Gen Docs MD files using typedoc
        run: |
          cd board
          if [ -f pnpm-lock.yaml ]; then
            pnpm install --frozen-lockfile || pnpm install
          else
            pnpm install
          fi
          pnpm doc:default
          ls ./docs-md
      - name: Get Published Version
        id: get-version
        run: |
          cd ./board
          echo "version=$(pnpm pkg get version)" >> $GITHUB_OUTPUT
        shell: bash
      - name: Auto Gen Docs using typedoc-only
        env:
          GH_TOKEN: ${{ secrets.PAT }}
        run: |
          cd ./board
          pnpm doc:typedoc-only
          pnpm doc:inject-i18n-prod zh-tw
          git config --global user.name "niuee"
          git config --global user.email "vntchang@gmail.com"
          VERSION=$(pnpm pkg get version | sed 's/^"\(.*\)"$/\1/')
          git switch -c update-docs-$VERSION
          git add .
          git commit -m "Update docs"
          git push -u origin update-docs-$VERSION
          echo "Creating pull request..."
          gh pr create -B main -H update-docs-$VERSION --title "Update docs for $VERSION" --body "Created by Github action from the board repo"
      - name: Copy Docs MD files to Docs Repo
        run: |
          cd ./board
          cp -r ./docs-md/* ../board-documentation/docs
          cd ../board-documentation/docs
          echo "Current board-documentation/docs:"
          ls
      - name: Commit and Push Docs
        env:
          GH_TOKEN: ${{ secrets.PAT }}
        run: |
          cd ./board-documentation
          # git config --global user.name "niuee"
          # git config --global user.email "vntchang@gmail.com"
          # git switch -c update-docs
          # git add .
          # git commit -m "Update docs"
          # git push -u origin update-docs
          # echo "Creating pull request..."
          # gh pr create -B main -H update-docs --title "Update docs" --body "Created by Github action from the board repo"
        