# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: CI Test

permissions:
    contents: read

on:
    pull_request:
        branches: ['main', 'dev', 'version/**']
    workflow_dispatch:

jobs:
    unit-test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup and Build
              uses: ./.github/actions/setup-bun-env
              with:
                  build: true
                  npm-token: ${{ secrets.NPM_TOKEN }}
                  pat: ${{ secrets.PAT }}

            - name: Run unit tests
              run: bun run test
            - name: Test build
              run: |
                  bun run build
                  bun run build:apps
